/* styles for building blocks JS demo */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica, Georgia, sans-serif;
}

div#title_holder {
    width: 100%;
}

div#left_block {
    float: left;
    
}

div#right_block {
    float: right;
}

div#page_title > h2 {
    font-size: 36px;
    text-align: center;
}

div#page_title {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

div#construction_zone {
    margin-top: 10px;
    position: relative;
    width: 800px;
    height: 512px;
    border: 2px solid #BBB;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.clear {
    clear:both;
}

div.block {
    width: 92px;
    height: 92px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-width: 4px;
    border-style: solid;
}

div.red {
    border-color: #DD1111;
    background-color: #FF0000;
}

div.blue {
    border-color: #1111DD;
    background-color: #0000FF;
}

div#clear_button_holder {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 10pt;
}

div#footer {
    font-size:10pt;
    color: #AAA;
    width: 100%;
    text-align: center;
}